* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: teal;
    font-family: sans-serif;

}

.container {

    max-width: 900px;
    margin: 0 auto;
    min-width: 250px;
    margin-top: 50px;
}

.apply-form {

    background-color: white;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 20px;
}

.heading {

    padding-left: 30px;
}

.web {

    font-size: 20px;
}

.form1 {

    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    
}

label {

    display: block;
    margin-bottom: 6px;
}

@media (max-width: 400px) {
    .form1 {

        display: block;
    }
}

@media (max-width: 400px) {
    .form1 div {

        margin-top: 30px;
        margin-left: 30px;

    }
}

.form2 {

    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 5px;
}

@media (max-width: 400px) {
    .form2 {

        display: block;

    }
}


@media (max-width: 400px) {
    .form2 div {

        margin-top: 30px;
        margin-left: 30px;
    }
}

.form3 {

    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}

.form3 .textarea {
    margin-left: 20px;
    min-width: 380px;
}

textarea {
    max-width: 380px;
}

.form4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}


@media (max-width: 400px) {
    .form4 {

        display: block;

    }
}


@media (max-width: 400px) {
    .form4 div {

        margin-top: 30px;
        margin-left: 30px;
    }
}

.form5 {
    max-width: 550px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}

.file {
    /* border: 2px solid black; */
    width: 140px;
}


@media (max-width: 400px) {
    .form5 {

        display: block;

    }
}


@media (max-width: 400px) {
    .form5 div {

        margin-top: 30px;
        margin-left: 30px;
    }
}

.file{
    max-width: 250px;
    min-width: 170px;
}

.button {
    display: flex;
    justify-content: end;
    padding: 30px;
}

.button button{

    color: white;
    padding: 5px 10px;
    background-color: rgb(233, 23, 23);
    font-weight: 900;
    border-radius: 8px;
    border: 2px solid black;
}

.button button:hover{
    border: 2px solid red;
    background-color: teal;
    color: black;
    transition: 0.8s ease-in-out ;
    cursor: pointer;
}

input:focus{
    outline-color: red;
}
